<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:20:36 GMT -->
<head>
    <meta charset="utf-8">
    <title>Spree</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/frontEnd/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/frontEnd/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</head>

<body>

    <%- include('./partials/userHeader')%>
    <!-- <%- include('./partials/preloader') %> -->
    <%- body %>
    <%- include('./partials/userFooter')%>
</body>

 <!-- Vendor JS-->
 <script src="/frontEnd/js/vendor/modernizr-3.6.0.min.js"></script>
 <script src="/frontEnd/js/vendor/jquery-3.6.0.min.js"></script>
 <script src="/frontEnd/js/vendor/jquery-migrate-3.3.0.min.js"></script>
 <script src="/frontEnd/js/vendor/bootstrap.bundle.min.js"></script>
 <script src="/frontEnd/js/plugins/slick.js"></script>
 <script src="/frontEnd/js/plugins/jquery.syotimer.min.js"></script>
 <script src="/frontEnd/js/plugins/wow.js"></script>
 <script src="/frontEnd/js/plugins/jquery-ui.js"></script>
 <script src="/frontEnd/js/plugins/perfect-scrollbar.js"></script>
 <script src="/frontEnd/js/plugins/magnific-popup.js"></script>
 <script src="/frontEnd/js/plugins/select2.min.js"></script>
 <script src="/frontEnd/js/plugins/waypoints.js"></script>
 <script src="/frontEnd/js/plugins/counterup.js"></script>
 <script src="/frontEnd/js/plugins/jquery.countdown.min.js"></script>
 <script src="/frontEnd/js/plugins/images-loaded.js"></script>
 <script src="/frontEnd/js/plugins/isotope.js"></script>
 <script src="/frontEnd/js/plugins/scrollup.js"></script>
 <script src="/frontEnd/js/plugins/jquery.vticker-min.js"></script>
 <script src="/frontEnd/js/plugins/jquery.theia.sticky.js"></script>
 <script src="/frontEnd/js/plugins/jquery.elevatezoom.js"></script>
 <!-- Template  JS -->
 <script src="/frontEnd/js/main.js"></script>
 <script src="/frontEnd/js/shop.js"></script>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:25:49 GMT -->
</html>