<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card mt-150 mb-150">
        <div class="card-body p-5">
          <h3 class="card-title text-center mb-5">Login</h3>
          <form action="process-login" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Mobile Number</label>
              <input type="text" class="form-control" name="username" id="mobileNumber" required>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" onclick="validate()" >Send OTP</button>
            </div>
          </form>
          <p id="error" class="text-danger text-center mt-3"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>